<div class="container">
  <form class="example-form" [formGroup]="formCategoria">
    <mat-form-field class="example-full-width">
      <mat-label>Categoria</mat-label>
      <input matInput placeholder="Ex. Alimentação" formControlName="nome">
      <mat-error>Nome da categoria é obrigatório!</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Digite as informações importantes" formControlName="descricao"></textarea>
      <mat-error>Campo obrigatório!</mat-error>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" [disabled]="!formCategoria.valid" (click)="salvarCategoria()">Salvar</button>
</div>
